/* universal selector */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* element selector */
h3 {
    text-align: center;
}

/* id selector */
#para1 {
    background-color: aqua;
    color: red;
}

/* class selector */
.para3{
    color: blueviolet;
}

/* grouping selector */
#para1,
#para2,
.para3{
    color: blue;
}

/* descendant selector */
div p{
    background-color: yellowgreen;
}

/* child selector */
div>p {
    background-color: yellow;
}

div+p {
    /*adjacent Sibling selector(only one)*/
    background-color: rgb(212, 148, 249);
}

h3~h4 {
    /*adjacent Sibling selector(All)*/
    background-color: rgba(37, 74, 197, 0.498);
}

/* Pseudo-class selector */
#hoverid:hover {
    background-color: black;
    color: white;
}

/* Pseudo-element selector */
#hoverid::first-line {
    color: rgb(255, 0, 0);
}

/* attribute selector */
a[target] {
    background-color: cyan;
}